<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home.css">
    <title>Bandejão</title>
</head>

<body>
    <h1 id="top">
        <header id="Bandejão">Bandejão</header>
        <aside><a href="{{url_for('logout')}}" id="sign"> sair </a></aside>
        <aside><a href="{{url_for('profile')}}" id="sign"> perfil </a></aside>
    </h1>
    <section id="section">
        <ul id="nav">
            <li id="icon"><a href="{{url_for('home_')}}"> home </a></li>
            <li id="icon"><a href="{{url_for('fila_')}}"> fila </a></li>
            <li id="icon"><a href="{{url_for('cardapio_')}}"> cardapio </a></li>
        </ul>
        <article id="page">
            {% block content %}
            {% endblock %}
        </article>
    </section>
</body>

</html>