{% extends "home.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div>
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}
    <form id="page" method="POST" action="/sign_up">
        <h1>Crie sua conta</h1>
        <input type="name" name="nome" placeholder="Fulano">
        <input type="dre" name="DRE" placeholder="DRE">
        <input type="password" name="CPF" placeholder="Senha">
        <button>Login</button>
    </form>
{% endblock %}