<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home.css">
    <title>Bandejão</title>
</head>

<body>
    <h1>BEM-VINDO ADM</h1>
    <br>
    <h2>Manipular fila:</h2>

    <form method="POST" action="/adm">
        <input type="radio" name="actionf" value="cti"><label>CT ++</label>
        <input type="radio" name="actionf" value="cei"><label>Central ++</label>
        <input type="radio" name="actionf" value="lei"><label>Letras ++</label>
        <input type="radio" name="actionf" value="ctd"><label>CT --</label>
        <input type="radio" name="actionf" value="ced"><label>Central --</label>
        <input type="radio" name="actionf" value="led"><label>Letras --</label>
        <button>enter</button>
    </form>
    <br>
    <div>Fila CT:{{ ct }}, Fila Central:{{ ce }}, Fila Letras:{{ le }}</div>

    <br><br>
    
    <form>
        <input type="button" value="Acessar histórico" onclick= "window.location.href = 'database' ">
       </form>

    <div id="page">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>