{% extends "home.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div>
        {{ messages }}
    </div>
{% endif %}
{% endwith %}
    <form id="page" method="POST" action="/sign_up">
        <div>Crie sua conta</div>
        <input type="name" name="nome" placeholder="Fulano">
        <input type="dre" name="DRE" placeholder="DRE">
        <input type="password" name="senha" placeholder="Senha">
        <button>Login</button>
    </form>
{% endblock %}