<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home.css">
    <title>Bandejão</title>
</head>

<body>
    <h1 id="top">
        <li id="Bandejão">Bandejão</li>
    </h1>
    <section id="section">
        <ul id="nav">
            <li id="home"><a href="http://127.0.0.1:5000/">home</a></li>
            <li id="profile"><a href="http://127.0.0.1:5000/profile">profile</a></li>
            <li id="fila"><a href="http://127.0.0.1:5000/fila">fila</a></li>
            <li id="cardápio"><a href="http://127.0.0.1:5000/cardapio">cardápio</a></li>
        </ul>
        <article id="page">
            <h1>Status da fila do Bandejão</h1>
            <article>Tempo esperado na fila do Ct:-------</article>
            <article>Tempo esperado na fila do Central:-------</article>
            <article>Tempo esperado na fila de Letras:-------</article>
        </article>
    </section>
</body>
</html>